.block {
	display: block;
}
.text-base {
	line-height: var(--spacing-6);
	font-weight: var(--font-weight-semibold);
}
.text-black-700 {
	color: var(--black-700);
}
.w-10 {
	width: var(--spacing-10);
}
.h-10 {
	height: var(--spacing-10);
}
.leading-10 {
	line-height: var(--spacing-10);
}
.rounded-full {
	border-radius: var(--radius-full);
}
.mt-auto {
	margin-top: auto;
}
.z-10 {
	z-index: 10;
}
.cursor-pointer {
	cursor: pointer;
}
.w-11 {
	width: var(--spacing-11);
}
.text-primary-700 {
	color: rgb(105 65 198 / var(--tw-text-opacity));
}
.text-grey-500 {
	color: #a0aec0;
}
.bg-gray-300 {
	background-color: #e2e8f0;
}
.text-light-grey-500 {
	color: #a0aec0;
}
.text-gray-300 {
	color: #e2e8f0;
}
.bg-primary-300 {
	--tw-bg-opacity: 1;
	background-color: rgb(214 187 251 / var(--tw-bg-opacity));
}
.bg-gray-200 {
	background-color: #edf2f7;
}
.bg-primary-700 {
	--tw-bg-opacity: 1;
	background-color: rgb(105 65 198 / var(--tw-bg-opacity));
}
.text-white {
	color: var(--surface-primary);
}
.bg-primary-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(233 215 254 / var(--tw-bg-opacity));
}
.grid {
	display: grid;
}
.grid-cols-7 {
	grid-template-columns: repeat(7, 1fr);
}
.gap-3 {
	gap: var(--spacing-3);
}
